@model CrudAspNetCoreCodFirst.Models.Carro
@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
            </div>
            <br>
            <input type="submit" class="btn btn-info" value="Editar" />
        </form>
    </div>
    <a asp-action="Index" class="btn btn-link">Voltar</a>
</div>